@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
	--orange: #f16821;
	--black: #000;
	--light: #f3f3f3;
	--white: #fff;
	--milk: #f8f9fa;
	--gray: gray;
	--darkgray: rgb(48, 48, 48);
	--lightgray: rgb(219, 219, 219);
	--turquoise: #3bb18f;
	--blue: #00a3e1;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	letter-spacing: 0.5px;
}

.logo {
	letter-spacing: 3px;
}

.navbar {
	font-size: 14px;
}

.container {
	max-width: 1200px;
	/* outline: 1px solid var(--orange); */
}
/* 
.row {
	outline: 1px solid var(--orange);
} */

p {
	line-height: 28px;
}

h3 {
	line-height: 32px;
}

* {
	box-sizing: border-box;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.py-1 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.py-2 {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.py-3 {
	padding-top: 45px !important;
	padding-bottom: 45px !important;
}

.py-4 {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}

.pt-0 {
	padding-top: 0 !important;
}
.pt-1 {
	padding-top: 15px !important;
}

.pt-2 {
	padding-top: 30px !important;
}

.pt-3 {
	padding-top: 45px !important;
}

.pt-4 {
	padding-top: 60px !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-1 {
	padding-bottom: 15px !important;
}

.pb-2 {
	padding-bottom: 30px !important;
}

.pb-3 {
	padding-bottom: 45px !important;
}

.pb-4 {
	padding-bottom: 60px !important;
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.my-1 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.my-2 {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.my-3 {
	margin-top: 45px !important;
	margin-bottom: 45px !important;
}

.my-4 {
	margin-top: 60px !important;
	margin-bottom: 60px !important;
}

.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.px-rem-1 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.px-1 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.px-2 {
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.px-3 {
	padding-left: 45px !important;
	padding-right: 45px !important;
}

.px-4 {
	padding-left: 60px !important;
	padding-right: 60px !important;
}

.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.mx-1 {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.mx-2 {
	margin-left: 30px !important;
	margin-right: 30px !important;
}

.mx-3 {
	margin-left: 45px !important;
	margin-right: 45px !important;
}

.mx-4 {
	margin-left: 60px !important;
	margin-right: 60px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-1 {
	margin-top: 15px !important;
}

.mt-2 {
	margin-top: 30px !important;
}

.mt-3 {
	margin-top: 45px !important;
}

.mt-4 {
	margin-top: 60px !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml-1 {
	margin-left: 15px !important;
}

.ml-2 {
	margin-left: 30px !important;
}

.ml-3 {
	margin-left: 45px !important;
}

.ml-4 {
	margin-left: 60px !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mr-1 {
	margin-right: 15px !important;
}

.mr-2 {
	margin-right: 30px !important;
}

.mr-3 {
	margin-right: 45px !important;
}

.mr-4 {
	margin-right: 60px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: 15px !important;
}

.mb-2 {
	margin-bottom: 30px !important;
}

.mb-3 {
	margin-bottom: 45px !important;
}

.mb-4 {
	margin-bottom: 60px !important;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.position-fixed {
	position: fixed !important;
}

.align-items-center {
	align-items: center !important;
}

.v-top {
	vertical-align: top !important;
}

.justify-content-center {
	justify-content: center !important;
}

.text-black {
	color: var(--black) !important;
}

.text-orange {
	color: var(--orange) !important;
}

.text-light {
	color: var(--white) !important;
}

.text-turquoise {
	color: var(--turquoise) !important;
}

.text-gray {
	color: var(--gray) !important;
}

.text-lightgray {
	color: var(--lightgray) !important;
}

.text-blue {
	color: var(--blue) !important;
}

.text-xxs {
	font-size: 10px !important;
}

.text-xs {
	font-size: 12px !important;
}

.text-sm {
	font-size: 14px !important;
}

.text-md {
	font-size: 20px !important;
	line-height: 20px !important;
}

.text-xmd {
	font-size: 24px !important;
	line-height: 24px !important;
}

.text-lg {
	font-size: 28px !important;
	line-height: 28px !important;
}

.text-xl {
	font-size: 36px !important;
	line-height: 36px !important;
}

.text-xxl {
	font-size: 66px !important;
	line-height: 66px !important;
}

.text-bold {
	font-weight: 500;
}

.text-exbold {
	font-weight: 700;
}

.bg-light {
	background-color: var(--light) !important;
}

.bg-lightgray {
	background-color: var(--lightgray) !important;
}

.bg-white {
	background-color: var(--white) !important;
}

.bg-milk {
	background-color: var(--milk) !important;
}

.bg-black {
	background-color: var(--black) !important;
}

.bg-darkgray {
	background-color: var(--darkgray) !important;
}

.bg-turquoise {
	background-color: var(--turquoise) !important;
}

.b-cover {
	background-size: cover;
	background-attachment: fixed;
}

.d-inlineblock {
	display: inline-block !important;
}

.d-block {
	display: block !important;
}

.d-none {
	display: none !important;
}

.v-top {
	vertical-align: top;
}

.v-middle {
	vertical-align: middle;
}

.italic {
	font-style: italic;
}

.bradius-none {
	border-radius: 0;
}

.bradius {
	border-radius: 4px !important;
}

.bg-none {
	background: none !important;
}

.border {
	border: 1px solid var(--lightgray);
}

.border-bottom {
	border-bottom: 2px solid;
}

.border-top {
	border-top: 2px solid;
}

.btn {
	border-radius: 0;
	border: 1px solid;
}

.b-none {
	border: none !important;
}

.btn-transparent:hover {
	background-color: var(--white);
	color: var(--black);
}

.btn-transparent {
	background-color: transparent;
	border: 1px solid var(--white);
	color: var(--white);
	letter-spacing: 2px;
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 999;
}

.overlay {
	background: rgba(0, 0, 0, 0.4);
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	position: absolute;
}

.cards-overlay {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
	left: 15px;
	right: 15px;
}

.text {
	color: var(--white);
	position: absolute;
	top: 75%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.card-text {
	left: 25%;
}

.banner-text {
	top: 45%;
	left: 75%;
}

.caption {
	padding: 8px;
}

.navbar-nav .nav-item {
	padding: 0 50px;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a:active,
.navbar-nav .nav-item a:focus {
	background-color: var(--black) !important;
	color: var(--lightgray) !important;
	text-decoration: none !important;
}

.navbar-nav li a:hover,
.navbar-nav li a:active,
.navbar-nav li a:focus {
	background-color: var(--white) !important;
	color: var(--turquoise) !important;
	text-decoration: none !important;
}

.slick-dots li button:before {
	font-size: 32px;
	color: var(--turquoise);
}

.carousel-control.left,
.carousel-control.right {
	background-image: none !important;
	filter: none !important;
}

.carousel-inner .item .img-responsive {
	max-height: calc(100vh - 137px);
}

i {
	font-style: normal !important;
}

/* carousel */

.cd-headline.type .cd-words-wrapper {
	vertical-align: top;
	overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
	/* vertical bar */
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 90%;
	width: 1px;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
	-webkit-animation: cd-pulse 1s infinite;
	-moz-animation: cd-pulse 1s infinite;
	animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected::after {
	visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
	color: #0d0d0d;
}
.cd-headline.type b {
	visibility: hidden;
}
.cd-headline.type b.is-visible {
	visibility: visible;
}
.cd-headline.type i {
	position: absolute;
	visibility: hidden;
}
.cd-headline.type i.in {
	position: relative;
	visibility: visible;
}

@-webkit-keyframes cd-pulse {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}
@-moz-keyframes cd-pulse {
	0% {
		-moz-transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-moz-transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-moz-transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}
@keyframes cd-pulse {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		-moz-transform: translateY(-50%) scale(1);
		-ms-transform: translateY(-50%) scale(1);
		-o-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-50%) scale(0.9);
		-moz-transform: translateY(-50%) scale(0.9);
		-ms-transform: translateY(-50%) scale(0.9);
		-o-transform: translateY(-50%) scale(0.9);
		transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-50%) scale(0);
		-moz-transform: translateY(-50%) scale(0);
		-ms-transform: translateY(-50%) scale(0);
		-o-transform: translateY(-50%) scale(0);
		transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}

.form-group .form-control {
	padding: 20px 10px;
}

@media (max-width: 1200px) {
	.navbar-nav .nav-item {
		padding: 0 20px;
	}
}

@media (max-width: 540px) {
	.text-xxl,
	.text-xl,
	.text-sm,
	.text-lg,
	.text-md,
	body {
		font-size: 16px !important;
	}

	.banner .text-xl,
	.banner .text-xxl,
	.card-text span {
		font-size: 24px !important;
	}

	.pull-right,
	.pull-left {
		float: none !important;
	}

	.d-inlineblock {
		display: block !important;
	}

	.btn-transparent {
		font-size: 10px !important;
	}

	.container .row {
		text-align: center;
	}

	.navbar-nav .nav-item {
		display: block !important;
		text-align: center;
		padding: 5px 0;
	}

	.form-group {
		margin-right: 0 !important;
	}

	.carousel-caption .py-1,
	.carousel-caption .py-2,
	.carousel-caption .py-3 {
		padding: 5px !important;
	}

	.carousel-caption .py-4 {
		padding: 15px !important;
	}

	.carousel-caption .text-light {
		margin-top: -20px;
	}
	.carousel-indicators {
		display: none !important;
	}

	.card-image {
		width: 100%;
	}

	.px-2,
	.px-4,
	.px-3,
	.px-1 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.mx-1,
	.mx-2,
	.mx-3,
	.mx-4 {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

	.ml-2,
	.ml-3,
	.ml-4 {
		margin-left: 15px !important;
	}

	.mr-2,
	.mr-3,
	.mr-4 {
		margin-right: 15px !important;
	}

	.mt-4 {
		margin-top: 30px !important;
	}
	.mt-2,
	.mt-3 {
		margin-top: 15px !important;
	}

	.mb-2,
	.mb-3,
	.mb-4 {
		margin-bottom: 15px !important;
	}
}
