body {
	font: {
		family: "Roboto", sans-serif;
		size: 16px;
		weight: 400;
	}
	margin: 0 auto;
	line-height: 1.6;
}

.logo {
	letter-spacing: 3px;
}

.navbar {
	font-size: 13px;
}

.container {
	max-width: 1200px;
}

p {
	line-height: 28px;
}

h3 {
	line-height: 32px;
}

* {
	box-sizing: border-box;
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 999;
}

.overlay {
	background: rgba(0, 0, 0, 0.4);
	z-index: 2;
	/* Specify a stack order in case you're using a different order for other elements */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	position: absolute;
}

.cards-overlay {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
	left: 15px;
	right: 15px;
}

.checkout-input {
	max-width: 50px;
}

.square {
	border: 1px solid $lightgray;
	border-radius: 50%;
	line-height: 38px;
	height: 44px;
	width: 44px;
	padding: 2px;
	font-weight: 700;
}

.active-square {
	background-color: $turquoise;
	color: $white;
}

.media {
	max-height: 52px;
	width: 100%;
	margin-bottom: 25px;
	span {
		padding: 10px 20px;
		border-right: 1px solid $black;
		margin-right: 10px;
	}
}

.apply {
	padding: 6px 10px;
	&-input {
		width: 270px;
	}
}

.inputGroup {
	height: 50px;
}
