.py {
	&-0 {
		padding-top: $mp-0 !important;
		padding-bottom: $mp-0 !important;
	}

	&-1 {
		padding-top: $mp-1 !important;
		padding-bottom: $mp-1 !important;
	}

	&-2 {
		padding-top: $mp-2 !important;
		padding-bottom: $mp-2 !important;
	}

	&-3 {
		padding-top: $mp-3 !important;
		padding-bottom: $mp-3 !important;
	}

	&-4 {
		padding-top: $mp-4 !important;
		padding-bottom: $mp-4 !important;
	}
}

.pt {
	&-0 {
		padding-top: $mp-0 !important;
	}

	&-1 {
		padding-top: $mp-1 !important;
	}

	&-2 {
		padding-top: $mp-2 !important;
	}

	&-3 {
		padding-top: $mp-3 !important;
	}

	&-4 {
		padding-top: $mp-4 !important;
	}
}

.pb {
	&-0 {
		padding-bottom: $mp-0 !important;
	}

	&-1 {
		padding-bottom: $mp-1 !important;
	}

	&-2 {
		padding-bottom: $mp-2 !important;
	}

	&-3 {
		padding-bottom: $mp-3 !important;
	}

	&-4 {
		padding-bottom: $mp-4 !important;
	}
}

.my {
	&-0 {
		margin-top: $mp-0 !important;
		margin-bottom: $mp-0 !important;
	}

	&-1 {
		margin-top: $mp-1 !important;
		margin-bottom: $mp-1 !important;
	}

	&-2 {
		margin-top: $mp-2 !important;
		margin-bottom: $mp-2 !important;
	}

	&-3 {
		margin-top: $mp-3 !important;
		margin-bottom: $mp-3 !important;
	}

	&-4 {
		margin-top: $mp-4 !important;
		margin-bottom: $mp-4 !important;
	}
}

.px {
	&-0 {
		padding-left: $mp-0 !important;
		padding-right: $mp-0 !important;
	}

	&-1 {
		padding-left: $mp-1 !important;
		padding-right: $mp-1 !important;
	}

	&-2 {
		padding-left: $mp-2 !important;
		padding-right: $mp-2 !important;
	}

	&-3 {
		padding-left: $mp-3 !important;
		padding-right: $mp-3 !important;
	}

	&-4 {
		padding-left: $mp-4 !important;
		padding-right: $mp-4 !important;
	}
}

.pl {
	&-0 {
		padding-left: $mp-0 !important;
	}

	&-1 {
		padding-left: $mp-1 !important;
	}

	&-2 {
		padding-left: $mp-2 !important;
	}

	&-3 {
		padding-left: $mp-3 !important;
	}

	&-4 {
		padding-left: $mp-4 !important;
	}
}

.pr {
	&-0 {
		padding-right: $mp-0 !important;
	}

	&-1 {
		padding-right: $mp-1 !important;
	}

	&-2 {
		padding-right: $mp-2 !important;
	}

	&-3 {
		padding-right: $mp-3 !important;
	}

	&-4 {
		padding-right: $mp-4 !important;
	}
}

.mx {
	&-0 {
		margin-left: $mp-0 !important;
		margin-right: $mp-0 !important;
	}

	&-1 {
		margin-left: $mp-1 !important;
		margin-right: $mp-1 !important;
	}

	&-2 {
		margin-left: $mp-2 !important;
		margin-right: $mp-2 !important;
	}

	&-3 {
		margin-left: $mp-3 !important;
		margin-right: $mp-3 !important;
	}

	&-4 {
		margin-left: $mp-4 !important;
		margin-right: $mp-4 !important;
	}
}

.mt {
	&-0 {
		margin-top: $mp-0 !important;
	}

	&-1 {
		margin-top: $mp-1 !important;
	}

	&-2 {
		margin-top: $mp-2 !important;
	}

	&-3 {
		margin-top: $mp-3 !important;
	}

	&-4 {
		margin-top: $mp-4 !important;
	}
}

.ml {
	&-0 {
		margin-left: $mp-0 !important;
	}

	&-1 {
		margin-left: $mp-1 !important;
	}

	&-2 {
		margin-left: $mp-2 !important;
	}

	&-3 {
		margin-left: $mp-3 !important;
	}

	&-4 {
		margin-left: $mp-4 !important;
	}
}

.mr {
	&-0 {
		margin-right: $mp-0 !important;
	}

	&-1 {
		margin-right: $mp-1 !important;
	}

	&-2 {
		margin-right: $mp-2 !important;
	}

	&-3 {
		margin-right: $mp-3 !important;
	}

	&-4 {
		margin-right: $mp-4 !important;
	}
}

.mb {
	&-0 {
		margin-bottom: $mp-0 !important;
	}

	&-1 {
		margin-bottom: $mp-1 !important;
	}

	&-2 {
		margin-bottom: $mp-2 !important;
	}

	&-3 {
		margin-bottom: $mp-3 !important;
	}

	&-4 {
		margin-bottom: $mp-4 !important;
	}
}

.text {
	color: var($white);
	position: absolute;
	top: 75%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	&-decoration-none {
		text-decoration: none !important;
	}
	&-black {
		color: $black !important;
	}

	&-orange {
		color: $orange !important;
	}

	&-light {
		color: $white !important;
	}

	&-turquoise {
		color: $turquoise !important;
	}

	&-gray {
		color: $gray !important;
	}

	&-lightgray {
		color: $lightgray !important;
	}

	&-blue {
		color: $blue !important;
	}

	&-xxs {
		font-size: 10px !important;
	}

	&-xs {
		font-size: 12px !important;
	}

	&-sm {
		font-size: 13px !important;
	}

	&-xsm {
		font-size: 15px !important;
	}

	&-md {
		font-size: 20px !important;
	}

	&-xmd {
		font-size: 24px !important;
	}

	&-lg {
		font-size: 28px !important;
		line-height: 28px !important;
	}

	&-xl {
		font-size: 36px !important;
		line-height: 36px !important;
	}

	&-xxl {
		font-size: 66px !important;
		line-height: 66px !important;
		letter-spacing: -5px;
	}

	&-bold {
		font-weight: 400;
	}

	&-exbold {
		font-weight: 700;
	}
}

.bg {
	&-light {
		background-color: $light !important;
	}

	&-lightgray {
		background-color: $lightgray !important;
	}

	&-white {
		background-color: $white !important;
	}

	&-milk {
		background-color: $milk !important;
	}

	&-black {
		background-color: $black !important;
	}

	&-darkgray {
		background-color: $darkgray !important;
	}

	&-turquoise {
		background-color: $turquoise !important;
	}

	&-none {
		background: none !important;
	}
}


.italic {
	font-style: italic;
}


.card-text {
	left: 25%;
}

.banner-text {
	top: 45%;
	left: 75%;
}

.contact-text {
	margin-left: 5px;
	margin-bottom: 14px !important;
}

.caption {
	padding: 8px;
}