$orange: #f16821;
$black: #000;
$light: #f3f3f3;
$white: #fff;
$milk: #f8f9fa;
$gray: #999;
$darkgray: #262729;
$darkgraylight: #2e2f30c0;
$lightgray: #ddd;
$turquoise: #3bb18f;
$blue: #00a3e1;

$mp-0:0;
$mp-1:15px;
$mp-2:30px;
$mp-3:45px;
$mp-4:60px;